<ion-content [fullscreen]="true"  class="container">
  <div class="header " >
    <div class="icon-box">
      <img src="assets\icon\image_2023_11_30T15_21_13_998Z (1).png">
    </div>
    <div class="signin-text">
      <h5>Sign in</h5></div>
  </div>
  <div class="note">
   <h1>Welcome to Guard Watch App!</h1>
   <p>"Guard Watch: Safeguarding Every Moment, Every Post."</p>
  </div>













</ion-content>

<ion-footer color="light">
    <ion-button fill="clear" color="primary" expand="full" (click)="openLoginPage()"> Already a Member? Sign In </ion-button>
</ion-footer>
